

body{
background-color: #D6E1FF;
font-family: "red Hat Display" ;
font-weight: 500, 600, 700 ;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
}


.first{
background-color: white;
max-width: 450px;
width: 100%;
overflow: hidden;
border-radius: 20px;

}
.first img {
    border-radius: 20px 20px 0 0;
}
h4 {
    line-height: 1.6;
    font-size: 15px;
}

.plan {
   background-color: #f7f9ff;
    padding: 5px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;

}
.plan1 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.planimg {
    width: 48px; 
    height: 48px;
}

.plan-text {
    display: flex;
    align-items: center;
    gap: 15px;
}


.change {
    text-decoration: none;
    font-weight: 600;
    color: #3829E0;
    transition: 0.3s;
}
.change:hover{
    color: purple;
}
.but {
    background-color: #3A2BE8;
    width: 300px;
    color: white;
    padding: 13px;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s; 
    box-shadow: 0 10px 25px rgba(67, 56, 202, 0.3);  
}

.but:hover{
    background-color: purple;
}
.cancel{
    text-decoration: none;
    margin-bottom: 40px;
    display: inline-block;
    transition: all 0.3s;
}

.cancel:hover{
    color: purple;
}
